<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.0.xsd">
	<bean id="baseServiceImpl"
		class="com.abbcc.service.impl.BaseServiceImpl">
		<property name="productDao">
			<ref bean="productDao" />
		</property>
		<property name="productTypeDao">
			<ref bean="productTypeDao" />
		</property>
		<property name="pzDao">
			<ref bean="pzDao" />
		</property>
		<property name="cpgqxxDao">
			<ref bean="cpgqxxDao" />
		</property>
		<property name="jytjDao">
			<ref bean="jytjDao" />
		</property>
		<property name="messageDao">
			<ref bean="messageDao"/>
		</property>
	</bean> 
	 
	<bean id="productServiceImpl" class="com.abbcc.service.impl.ProductServiceImpl" parent="baseServiceImpl"/>
		  
	<bean id="productService" parent="baseTransactionProxy">
		<property name="target">
			<ref bean="productServiceImpl" />
		</property>
	</bean>
	<bean id="messageServiceImpl" class="com.abbcc.service.impl.MessageServiceImpl" parent="baseServiceImpl"/>
		  
	<bean id="messageService" parent="baseTransactionProxy">
		<property name="target">
			<ref bean="messageServiceImpl" />
		</property>
	</bean>
 		 
</beans>