.office_top {
	WIDTH: 100%; HEIGHT: 105px
}
.office_left {
	Z-INDEX: -50; FLOAT: left; WIDTH: 200px; HEIGHT: 600px; BACKGROUND-COLOR: #e7f2f6
}
.office_main {
	Z-INDEX: 50; FLOAT: left; VISIBILITY: visible; OVERFLOW: visible; WIDTH: 578px; BOTTOM: 0px; MARGIN-RIGHT: auto; HEIGHT: 600px; BACKGROUND-COLOR: #ffffff
}
.mune_title {
	FONT-WEIGHT: bold; FONT-SIZE: 13px; COLOR: #ffffff; TEXT-DECORATION: none
}
BODY {
	FONT-SIZE: 12px; MARGIN: 0px; BACKGROUND-COLOR: #2c68b1
}
.submenu {
	BORDER-RIGHT: #2c68b1 1px solid; BACKGROUND-POSITION: 50% bottom; PADDING-LEFT: 20px; BACKGROUND-IMAGE: url(/office/images/sub_menu_bg.gif); BACKGROUND-REPEAT: repeat-x
}
.submenuend {
	BORDER-RIGHT: #2c68b1 1px solid; BACKGROUND-POSITION: 50% bottom; PADDING-LEFT: 20px; BACKGROUND-IMAGE: url(/office/images/sub_menu_bg.gif); BORDER-BOTTOM: #2c68b1 2px solid; BACKGROUND-REPEAT: repeat-x
}
.menu {
	BORDER-RIGHT: #0099ff 2px outset; PADDING-LEFT: 10px; FONT-WEIGHT: bold; FONT-SIZE: 14px; FLOAT: left; BACKGROUND-IMAGE: url(/office/images/menu_bg.gif); CURSOR: hand; COLOR: #ffffff; BACKGROUND-COLOR: #2c68b1
}
.submenu A:link {
	FONT-WEIGHT: normal; FONT-SIZE: 12px; COLOR: #2c68b1; TEXT-DECORATION: none
}
.submenu A:visited {
	FONT-WEIGHT: normal; FONT-SIZE: 12px; COLOR: #2c68b1; TEXT-DECORATION: none
}
.top {
	FONT-WEIGHT: normal; FONT-SIZE: 12px; COLOR: #ffffff
}
.office_top A:link {
	FONT-WEIGHT: normal; FONT-SIZE: 12px; COLOR: #ffffff; TEXT-DECORATION: none
}
A:visited {
	FONT-WEIGHT: normal; FONT-SIZE: 12px; COLOR: #ffffff; TEXT-DECORATION: none
}
.office_top A:hover {
	FONT-WEIGHT: normal; FONT-SIZE: 12px; COLOR: #ff731f; TEXT-DECORATION: none
}
.red {
	FONT-SIZE: 11px; COLOR: #ff0000; FONT-FAMILY: "Courier New", Courier, monospace; TEXT-DECORATION: blink
}
#sysmsg {
	BORDER-RIGHT: #ff6600 1px solid; BORDER-TOP: #ff6600 1px solid; FONT-WEIGHT: bold; FONT-SIZE: 14px; BORDER-LEFT: #ff6600 1px solid; COLOR: #ff6600; BORDER-BOTTOM: #ff6600 1px solid
}
.size_12 {
	FONT-SIZE: 12px
}
#footer {
	FONT-WEIGHT: normal; FONT-SIZE: 12px
}
.3d {
	FONT-SIZE: 13px; FONT-FAMILY: Times
}
.4d {
	FONT-SIZE: 13px; FONT-FAMILY: "Times New Roman", Times, serif
}
.office_main A:link {
	FONT-SIZE: 13px; COLOR: #0000ff; TEXT-DECORATION: underline
}
.office_main A:visited {
	FONT-SIZE: 13px; COLOR: #0000ff; TEXT-DECORATION: underline
}
.office_main A:hover {
	FONT-WEIGHT: bold; FONT-SIZE: 13px; COLOR: #ee0000; TEXT-DECORATION: none
}
