DIV.quote {
	BORDER-RIGHT: 1px solid; PADDING-RIGHT: 5px; BORDER-TOP: 1px solid; PADDING-LEFT: 5px; BACKGROUND: #f3f3f3; PADDING-BOTTOM: 5px; MARGIN: 5px 20px; BORDER-LEFT: 1px solid; LINE-HEIGHT: normal; PADDING-TOP: 5px; BORDER-BOTTOM: 1px solid
}
DIV.HtmlCode {
	BORDER-RIGHT: 1px solid; PADDING-RIGHT: 5px; BORDER-TOP: 1px solid; PADDING-LEFT: 5px; FONT-WEIGHT: bold; FONT-SIZE: 14px; BACKGROUND: #fdfddf; PADDING-BOTTOM: 5px; MARGIN: 5px 20px; BORDER-LEFT: 1px solid; LINE-HEIGHT: normal; PADDING-TOP: 5px; BORDER-BOTTOM: 1px solid; FONT-STYLE: oblique; FONT-FAMILY: Tahoma
}
IFRAME.oblog_Composition {
	BORDER-RIGHT: 2px inset; BORDER-TOP: 2px inset; BORDER-LEFT: 2px inset; BORDER-BOTTOM: 2px inset
}
.oblog_Reply {
	BORDER-RIGHT: buttonface 1px dashed; BORDER-TOP: buttonface 1px dashed; BORDER-LEFT: buttonface 1px dashed; BORDER-BOTTOM: buttonface 1px dashed
}
TABLE.oblog_Body {
	BORDER-RIGHT: 1px solid; BORDER-TOP: 1px solid; BORDER-LEFT: 1px solid; CLIP: rect(0px auto auto auto); BORDER-BOTTOM: 1px solid; BACKGROUND-COLOR: #c7eafb
}
.yToolbar {
	
}
.oblog_Btn {
	WIDTH: 28px; HEIGHT: 28px; BACKGROUND-COLOR: #c7eafb; TEXT-ALIGN: center
}
.oblog_Ico {
	CURSOR: pointer
}
.oblog_TBGen {
	FONT: 8pt verdana,arial,sans-serif
}
.oblog_BtnMouseOverUp {
	WIDTH: 28px; CURSOR: hand; HEIGHT: 28px; TEXT-ALIGN: center
}
.oblog_BtnMouseOverDown {
	BORDER-RIGHT: transparent 1px solid; BORDER-TOP: transparent 1px solid; BORDER-LEFT: transparent 1px solid; WIDTH: 22px; CURSOR: pointer; BORDER-BOTTOM: transparent 1px solid; HEIGHT: 22px; BACKGROUND-COLOR: #eeeeee; TEXT-ALIGN: center
}
.BtnDown {
	CURSOR: pointer; BACKGROUND-COLOR: #8592b5; TEXT-ALIGN: center
}
.oblog_IcoDown {
	CURSOR: pointer
}
.oblog_IcoDownPressed {
	CURSOR: pointer
}
TD.oblog_TabOn {
	BORDER-RIGHT: 1px inset; PADDING-RIGHT: 5px; BORDER-TOP: 1px inset; PADDING-LEFT: 5px; PADDING-BOTTOM: 1px; FONT: 8pt MS Sans Serif; BORDER-LEFT: 1px inset; PADDING-TOP: 1px; BORDER-BOTTOM: 1px inset; BACKGROUND-COLOR: #eeeeee
}
TD.oblog_TabOff {
	BORDER-RIGHT: 1px outset; PADDING-RIGHT: 5px; BORDER-TOP: 1px outset; PADDING-LEFT: 5px; PADDING-BOTTOM: 1px; FONT: 8pt MS Sans Serif; BORDER-LEFT: 1px outset; CURSOR: pointer; PADDING-TOP: 1px; BORDER-BOTTOM: 1px outset
}
TD.oblog_SmileOn {
	BORDER-RIGHT: 1px inset; BORDER-TOP: 1px inset; FONT: 9pt MS Sans Serif; BORDER-LEFT: 1px inset; CURSOR: pointer; BORDER-BOTTOM: 1px inset; BACKGROUND-COLOR: #ffd988
}
TD.oblog_SmileOff {
	FONT: 9pt MS Sans Serif
}
.adminbutton {
	BORDER-RIGHT: #666 1px solid; BORDER-TOP: #ffffff 1px solid; BACKGROUND: none transparent scroll repeat 0% 0%; BORDER-LEFT: #ffffff 1px solid; WIDTH: 60px; COLOR: #000; BORDER-BOTTOM: #666 1px solid; HEIGHT: 20px
}
.open_win {
	LEFT: 0px; VISIBILITY: inherit; MARGIN-LEFT: auto; OVERFLOW: hidden; MARGIN-RIGHT: auto; POSITION: relative; TOP: 0px
}
.button {
	BORDER-TOP: #ffffff 1px solid; FONT-SIZE: 9pt; BACKGROUND: none transparent scroll repeat 0% 0%; BORDER-LEFT: #ffffff 1px solid; BORDER-BOTTOM: #666 1px solid; HEIGHT: 20px
}
