<?xml version="1.0" encoding="UTF-8"?>
<beans
	xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.0.xsd">
	 
	<bean id="hyjbxxService" class="com.abbcc.service.impl.HyjbxxServiceImpl">
		<property name="hyjbxxDao">
			<ref bean="hyjbxxDao"/>
		</property>
		<property name="gsjbxxDao">
			<ref bean="gsjbxxDao"/>
		</property>
	</bean> 
	<bean id="tradeInfoService" class="com.abbcc.service.impl.TradeInfoServiceImpl">
		<property name="tradeInfoDao">
			<ref bean="tradeInfoDao"/>
		</property>
	</bean>
	<bean name="/checkName" class="com.abbcc.customer.CheckName" scope="prototype">    
		<property name="hyjbxxService">
			<ref local="hyjbxxService"/>
		</property>
	</bean>
	<bean name="/register" class="com.abbcc.customer.RegisterAction" scope="prototype">    
		<property name="hyjbxxService">
			<ref local="hyjbxxService"/>
		</property>
	</bean>
	<bean name="/login" class="com.abbcc.customer.CustomerLoginAction" scope="prototype">    
		<property name="hyjbxxService">
			<ref local="hyjbxxService"/>
		</property>
	</bean>
	<bean name="/traceInfo" class="com.abbcc.customer.TraceInfoAction" scope="prototype">    
		<property name="hyjbxxService">
			<ref local="hyjbxxService"/>
		</property>
		<property name="tradeInfoService">
			<ref local="tradeInfoService"/>
		</property>
	</bean>
	<bean id="messageDAO" class="com.abbcc.dao.impl.MessageDAOImpl" >
		<property name="sessionFactory">
			<ref bean="sessionFactory"/>
		</property>
	</bean>
	<bean id="messageService" class="com.abbcc.service.impl.MessageServiceImpl">
		<property name="messageDao">
			<ref local="messageDAO"/>
		</property>
	</bean>
</beans>