<?xml version="1.0" encoding="UTF-8"?>
<beans
	xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.0.xsd">

	<bean id="hyjbxxDao" class="com.abbcc.dao.impl.HyjbxxDAOImpl" >
		<property name="sessionFactory">
			<ref bean="sessionFactory"/>
		</property>
	</bean>
	<bean id="pzDao" class="com.abbcc.dao.impl.PzDAOImpl" >
		<property name="sessionFactory">
			<ref bean="sessionFactory"/>
		</property>
	</bean>
	<bean id="gsjbxxDao" class="com.abbcc.dao.impl.GsjbxxDAOImpl" >
		<property name="sessionFactory">
			<ref bean="sessionFactory"/>
		</property>
	</bean>
	<bean id="gsxxxxDao" class="com.abbcc.dao.impl.GsxxxxDAOImpl" >
		<property name="sessionFactory">
			<ref bean="sessionFactory"/>
		</property>
	</bean>
	<bean id="tradeInfoDao" class="com.abbcc.dao.impl.TradeInfoDaoImpl" >
		<property name="sessionFactory">
			<ref bean="sessionFactory"/>
		</property>
	</bean>
	
	<bean id="productDao" class="com.abbcc.dao.impl.ProductDAOImpl" >
		<property name="sessionFactory">
			<ref bean="sessionFactory"/>
		</property>
	</bean>
	<bean id="productTypeDao" class="com.abbcc.dao.impl.ProductTypeDAOImpl" >
		<property name="sessionFactory">
			<ref bean="sessionFactory"/>
		</property>
	</bean>
	<bean id="cpgqxxDao" class="com.abbcc.dao.impl.CpgqxxDAOImpl" >
		<property name="sessionFactory">
			<ref bean="sessionFactory"/>
		</property>
	</bean>
	<bean id="jytjDao" class="com.abbcc.dao.impl.JytjDAOImpl" >
		<property name="sessionFactory">
			<ref bean="sessionFactory"/>
		</property>
	</bean>
	 <bean id="messageDao" class="com.abbcc.dao.impl.MessageDAOImpl" >
		<property name="sessionFactory">
			<ref bean="sessionFactory"/>
		</property>
	</bean>
	
</beans>